input{
    width:30%;
    height:2.6rem;
    text-align: center;
    border:1px gold solid;
    border-radius:5rem;
    font-size:large;
}
::placeholder{
    color:blueviolet
}
button{
    border:none;
    border-radius: 5rem;
    padding:0.3rem;
    width:10%;
}
/* i{
    font-size:1.8rem;
    

} */
 img{
     height:20rem;
 }
 .heading{
     font-size:large;
     color:black;
     font-weight:900;
    /* border-bottom: 5px red solid; */
 }
 .title{
     color:blue;
     font-weight:800;
 }
  button.link{
     /* border:1 px solid yellow; */
     /* border:none; */
     border-radius: 5rem;
     padding:0.3rem;
     width:20%;
     background-color: gold;
 }