<div class="container fluid">
    <div align="center" class="repos" style="margin-top:5%">
        <input type="search" (keyup.enter)="searchRepos(repo.value)" #repo name="repo" id="repo"
            placeholder="Find A Github Repository"> <br><br>
        <button (click)="searchRepos(repo.value)"><span style="font-size:large">Search</span></button>
    </div>
    <hr>
    <div style="margin-left:20%">
<!-- comment -->
        <div *ngFor="let repo of allRepos">
            <!-- <p align="center">Search results</p> -->
            <ul>
                <ol>
                    <div class="card" style="width:30rem" *ngIf="repo">
                        <div class="card-header" align="center">
                            <p *ngIf="repo.name"><span style="color:blue">Repository Name: </span>{{repo.name}}</p>
                        </div>
                        <div class="card-body" align="center" *ngIf="repo">
                            <span *ngIf="repo.description" ><span style="color:blue">Description<br> </span>{{repo.description}}</span><br>
                            <span *ngIf="repo.full_name" ><span style="color:blue">Owner<br>  </span>{{repo.full_name}}</span>
                        </div>
                        <div class="card-footer" align="center" *ngIf="repo">
                            <span *ngIf="repo.html_url"><a href="{{repo.html_url}}" target="_blank"><button class="link"
                                        align="marg"> Open In <i class="fa-brands fa-github"
                                            style="font-size:2rem;"></i></button></a></span>


                        </div>
                    </div>
                </ol>
            </ul>
        </div>
    </div>
</div>



<!-- <div *ngFor="let repo of allRepos">

    <p>{{repo.name}}</p>
   
    <a href={{repo.html_url}}>See in github 2</a>

</div> -->