<div class="container-fluid">
    <div align="center" class="intro">
        <h3>Repofinder</h3>
        <p>Repofinder is a github specific search engine that enables users to search for user's profiles and repositories on <a
                href="https://github.com/" target="_blank">Github.</a><br>

            <a href="https://github.com/" target="_blank">Github</a> is an online software development platform used for
            storing, tracking, and collaborating on software projects.<br> It enables developers to upload their own
            code files and to collaborate with fellow developers on open-source projects.
        </p>
        <details>
            <summary style="color:red; font-weight:800">For More Information On Github</summary>
            <a href="https://en.wikipedia.org/wiki/GitHub" target="_blank"><span class="summary"> What is
                    Github?</span></a><br>
            <a href="https://www.theserverside.com/video/Git-vs-GitHub-What-is-the-difference-between-them"
                target="_blank"><span class="summary">What is the difference between Github and Git?</span></a><br>
            <a href="https://github.com/" target="_blank"><span class="summary">Do you want to log in or sign up to
                    Github?</span></a>
        </details>
    </div><br>
    <div class="container">
        <div class="how" align="center">
            <h4>How Repofinder Works</h4>
            <span>[A] On the Navigation Bar, you will see two options centered (User and Repo)</span><br>
            <img src="assets/navbar.png"><br><br><br>
            <div class="row">
                <div class="card" style="margin-right:1rem;width:35rem">
                    <span class="card-header"> [B] When you select <b>User</b>, you can search for a Github User using <br>their <span title="names with no space/spaced by special characters eg (JohnDoe/ Jane-Doe)">Github username</span></span>
                    <div class="col-sm-6">
                        <img class="imageAssets" style="margin-left:12%;margin-top: 2%;" src="assets/AssetsOne.png">
                    </div>
                </div>
                <div class="card" style="width:32rem">
                    <span class="card-header"> [C] When you select <b>Repo</b>, you can search for GitHub repositories from Github user's profiles</span>
                    <div class="col-sm-6">
                        <img  style="margin-left: 3.2rem; margin-top:2%"class="imageAssets" src="assets/ArsenalWon.png">

                    </div>
                </div>
            </div>
        </div>
        </div>