.intro{
    margin-top:3%;
}
h3{
    font-weight:bolder;
}
.intro p{
    font-size:x-large;
}

a:hover{
    color:chartreuse;
    text-decoration: none;
    
}
.summary{
    font-size:1.1rem;
}
h4{
    font-weight: 700;
}
.howImage image{
    width:50%;

}